# {{ ansible_managed }}
# gitbucket - github clone

description     "web-based git management"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

exec java -jar {{ gitbucket_dir }}/gitbucket.war --port=80 --gitbucket.home={{ gitbucket_home }}

